{parameters
    Kirby\Cms\Block $block
}

{var $iframe  = Kirby\Cms\Html::video($block->url())}
{var $caption = $block->caption()->toHtml()}


<figure n:tag-if="$caption">

    <div class="video-wrapper" n:if="$iframe">
        {$iframe|noescape}
    </div>

    <figcaption n:if="$caption">
        {$caption}
    </figcaption>

</figure>
